function Jumper.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
not
pop this 3
push constant 0
pop this 4
push constant 64
pop this 1
push constant 192
push this 0
sub
pop this 2
push pointer 0
call Jumper.draw 1
pop temp 0
push pointer 0
return
function Jumper.getX 0
push argument 0
pop pointer 0
push this 1
return
function Jumper.getY 0
push argument 0
pop pointer 0
push this 2
return
function Jumper.getheight 0
push argument 0
pop pointer 0
push this 0
return
function Jumper.getAlive 0
push argument 0
pop pointer 0
push this 3
return
function Jumper.setposition 0
push argument 0
pop pointer 0
push argument 2
pop this 0
push argument 1
pop this 4
push constant 0
not
pop this 3
push constant 64
push constant 16
push this 4
call Math.multiply 2
add
pop this 1
push constant 192
push this 0
sub
pop this 2
push constant 0
return
function Jumper.kill 0
push argument 0
pop pointer 0
push constant 0
pop this 3
push constant 0
return
function Jumper.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Jumper.draw 4
push argument 0
pop pointer 0
push constant 16384
push constant 6144
add
push constant 4
add
push this 0
push constant 32
call Math.multiply 2
sub
push this 4
add
pop local 0
push constant 16385
push constant 6144
add
push constant 4
add
push this 0
push constant 32
call Math.multiply 2
sub
push this 4
add
pop local 1
push constant 16896
push constant 6144
add
push constant 4
add
push this 0
push constant 32
call Math.multiply 2
sub
push this 4
add
pop local 2
push constant 16897
push constant 6144
add
push constant 4
add
push this 0
push constant 32
call Math.multiply 2
sub
push this 4
add
pop local 3
push local 0
push constant 0
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32704
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32704
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 240
call Memory.poke 2
pop temp 0
push local 1
push constant 0
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 16191
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 16191
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 768
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 768
call Memory.poke 2
pop temp 0
push local 2
push constant 0
add
push constant 960
call Memory.poke 2
pop temp 0
push local 2
push constant 32
add
push constant 960
call Memory.poke 2
pop temp 0
push local 2
push constant 64
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 2
push constant 96
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 2
push constant 128
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 2
push constant 160
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 2
push constant 192
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 2
push constant 224
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 2
push constant 256
add
push constant 52
neg
call Memory.poke 2
pop temp 0
push local 2
push constant 288
add
push constant 52
neg
call Memory.poke 2
pop temp 0
push local 2
push constant 320
add
push constant 244
neg
call Memory.poke 2
pop temp 0
push local 2
push constant 352
add
push constant 244
neg
call Memory.poke 2
pop temp 0
push local 2
push constant 384
add
push constant 16140
call Memory.poke 2
pop temp 0
push local 2
push constant 416
add
push constant 16140
call Memory.poke 2
pop temp 0
push local 2
push constant 448
add
push constant 240
call Memory.poke 2
pop temp 0
push local 2
push constant 480
add
push constant 240
call Memory.poke 2
pop temp 0
push local 3
push constant 0
add
push constant 192
call Memory.poke 2
pop temp 0
push local 3
push constant 32
add
push constant 192
call Memory.poke 2
pop temp 0
push local 3
push constant 64
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 3
push constant 96
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 3
push constant 128
add
push constant 3087
call Memory.poke 2
pop temp 0
push local 3
push constant 160
add
push constant 3087
call Memory.poke 2
pop temp 0
push local 3
push constant 192
add
push constant 783
call Memory.poke 2
pop temp 0
push local 3
push constant 224
add
push constant 783
call Memory.poke 2
pop temp 0
push local 3
push constant 256
add
push constant 255
call Memory.poke 2
pop temp 0
push local 3
push constant 288
add
push constant 255
call Memory.poke 2
pop temp 0
push local 3
push constant 320
add
push constant 4035
call Memory.poke 2
pop temp 0
push local 3
push constant 352
add
push constant 4035
call Memory.poke 2
pop temp 0
push local 3
push constant 384
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 3
push constant 416
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 3
push constant 448
add
push constant 1020
call Memory.poke 2
pop temp 0
push local 3
push constant 480
add
push constant 1020
call Memory.poke 2
pop temp 0
push constant 0
return
function Jumper.erase 4
push argument 0
pop pointer 0
push constant 16384
push constant 6144
add
push constant 4
add
push this 0
push constant 32
call Math.multiply 2
sub
push this 4
add
pop local 0
push constant 16385
push constant 6144
add
push constant 4
add
push this 0
push constant 32
call Math.multiply 2
sub
push this 4
add
pop local 1
push constant 16896
push constant 6144
add
push constant 4
add
push this 0
push constant 32
call Math.multiply 2
sub
push this 4
add
pop local 2
push constant 16897
push constant 6144
add
push constant 4
add
push this 0
push constant 32
call Math.multiply 2
sub
push this 4
add
pop local 3
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 3
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 3
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 3
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 3
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 3
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 3
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 3
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 3
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 3
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 3
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 3
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 3
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 3
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 3
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 3
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 3
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Jumper.motionUp 0
push argument 0
pop pointer 0
push this 0
push constant 48
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Jumper.erase 1
pop temp 0
push this 0
push constant 12
add
pop this 0
push this 4
push constant 9
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 4
push constant 1
add
pop this 4
label IF_FALSE1
push constant 64
push constant 16
push this 4
call Math.multiply 2
add
pop this 1
push constant 192
push this 0
sub
pop this 2
push pointer 0
call Jumper.draw 1
pop temp 0
push constant 0
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
function Jumper.motionDown 0
push argument 0
pop pointer 0
push this 0
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Jumper.erase 1
pop temp 0
push this 0
push constant 12
sub
pop this 0
push this 4
push constant 9
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 4
push constant 1
add
pop this 4
label IF_FALSE1
push constant 64
push constant 16
push this 4
call Math.multiply 2
add
pop this 1
push constant 192
push this 0
sub
pop this 2
push pointer 0
call Jumper.draw 1
pop temp 0
push constant 0
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
function Jumper.jump 0
push argument 0
pop pointer 0
label WHILE_EXP0
push this 0
push constant 48
lt
not
if-goto WHILE_END0
push pointer 0
call Jumper.motionUp 1
pop temp 0
push constant 25
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 200
call Sys.wait 1
pop temp 0
label WHILE_EXP1
push this 0
push constant 0
gt
not
if-goto WHILE_END1
push constant 25
call Sys.wait 1
pop temp 0
push pointer 0
call Jumper.motionDown 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
function Jumper.run 0
push argument 0
pop pointer 0
push this 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
goto IF_END0
label IF_FALSE0
push pointer 0
call Jumper.jump 1
pop temp 0
push constant 0
not
return
label IF_END0
